body{
    margin: 0;
    font-size: 17px;
    background-color: wheat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif;
    line-height: 1.6;
}

h1{
background-color: white;
background-size: cover;
border: thin;
text-align: center;
font-size:200%;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    text-align: left;
    font-size: 200%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    text-align: center;
    font-size: 20px;
    background-color: white;
}
p{
    font: size 150%; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
